<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<h1 class="shadow-lg p-3 mb-5 bg-white rounded" style="color: brown" align="center"> Горные велосипеды </h1>
<div class="container">

    <p style="font-size: 18px">Введите рост в сантиметрах</p>
    <form data-th-action="@{/search}">
        <input name="height" type="search" class="item-search" data-th-value="${height}" required pattern="^[ 0-9]+$"
               title="Введите рост в сантиметрах">
        <button type="submit">Подбор под ваш рост</button>
    </form>

    <ul>
        <li data-th-each="item : ${items}" class="item">
            <a data-th-href="@{/{id}(id=${item.id})}">
                [[${item.name}]] - [[${item.mtbSize}]] / [[${item.price}]] рублей
            </a>
        </li>
    </ul>

    <p data-th-if="${items.size() == 0}" class="no-items">На ваш рост нет товара в наличии</p>

    <a href="/">На главную</a>
</div>
</body>
</html>