<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 style="background-color:azure"> Магазин спортивных товаров </h1>
<h2>
    <form data-th-action="@{/search}">
        <input name="name" type="search" class="item-search" data-th-value="${name}">
        <button type="submit">Поиск по имени</button>
    </form>
</h2>
<ul>

    <a href="http://localhost:8080/index/CLASSIC">Классические лыжи</a>
    <a href="http://localhost:8080/index/SKATE">Коньковые лыжи</a>
    <a href="http://localhost:8080/index/MTB">Горные велосипеды</a>
    <a href="http://localhost:8080/index/ROAD">Шоссейные велосипеды</a>
</ul>
</body>
</html>