<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>
<h1 style="background-color:azure"> Магазин спортивных товаров </h1>
<h2>
    <form data-th-action="@{/search}">
        <input name="name" type="search" class="item-search" data-th-value="${name}">
        <button type="submit">Поиск по наименованию</button>
    </form>
</h2>
<ul>

    <a href="https://spring-final-project-itpark.herokuapp.com/index/CLASSIC">Классические лыжи</a>
    <a href="/index/SKATE">Коньковые лыжи</a>
    <a href="/index/MTB">Горные велосипеды</a>
    <a href="/index/ROAD">Шоссейные велосипеды</a>
</ul>
</body>
</html>