<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>[[${item.name}]]</h1>

<p>Price: [[${item.price}]]</p>

<p>Size: [[${item.mtbSize}]]</p>
<p>Size: [[${item.roadBikeSize}]]</p>
<p>Size: [[${item.skiSize}]] </p>

<!--<img data-th-src="@{/media/{path}(path=${item.path})}">-->


<a data-th-href="@{/{id}/edit(id=${item.id})}">Edit</a>
<a data-th-href="@{/{id}/remove(id=${item.id})}">Remove</a>

</body>
</html>