<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<h3 class="shadow-lg p-3 mb-5 bg-white rounded" style="color: black" align="center"> Для покупки товара свяжитесь с
    автором объявления</h3>

<div class="card" style="width: 55rem;">
    <img data-th-src="@{/media/{path}(path=${item.path})}" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">[[${item.name}]]</h4>
        <p class="card-text">Описание: [[${item.description}]]</p>
        <p style="color: darkred">Цена: [[${item.price}]] рублей</p>
    </div>

    <div class="card-body">
        <a data-th-href="@{/lot/{id}/edit(id=${item.id})}" class="card-link">Редактировать</a>
    </div>

    <div class="card-body">
        <a data-th-href="@{/lot/{id}/remove(id=${item.id})}" style="color: red">Удалить</a>
    </div>

    <div class="card-body">
        <a href="/lot/all" style="color:darkgreen">Все объявления</a>
    </div>

    <div class="card-body">
        <a href="/" class="card-link">На главную</a>
    </div>
</div>

</body>
</html>